
<% if notice -%>
  <p id='notice'><%= notice %></p>
<% end %>

<h1>Puppy List</h1>

<% @puppies.each do |puppy| -%>
  <div class='entry'>
    <%= image_tag(puppy.image_url) %>
    <h3><%= puppy.name %></h3>
    <h4><%= puppy.gender %> <%= puppy.breed %></h4>
    <div class='fees_line'>
      <span class="fees"><%= number_to_currency(puppy.fees) %></span>
      <%= button_to 'View Details', puppy_path(puppy) %>
    </div>
  </div>
<% end %>
