
<% if notice -%>
  <p id='notice'><%= notice %></p>
<% end %>

<h1>Puppy List</h1>

<% @puppies.each do |puppy| -%>
  <div class='entry'>
    <table width="100%">
      <tr>
        <td width="20%"><%= image_tag(puppy.image_url) %></td>
        <td width="20%"><h3><%= puppy.name %></h3></td>
        <td width="45%"><h4><%= puppy.breed %></h4><h4><%= puppy.gender %></h4></td>
        <td width="15%">
          <%= button_to 'View Details', puppy_path(puppy) %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
<p><%= will_paginate @puppies %></p>
