<% if notice -%>
  <p id='notice'><%= notice %></p>
<% end %>

<h1>Puppy List</h1>

<% @puppies.each do |puppy| -%>
  <div class="puppy_list">
    <div class='<%= cycle('list_line_odd', 'list_line_even') %>'>
      <div class="image"><%= image_tag(puppy.image_url, :class => 'list_image') %></div>
      <div class="name"><h3><%= puppy.name %></h3></div>
      <div class="details"><h4><%= puppy.breed %></h4><h4><%= puppy.gender %></h4></div>
      <div class="view">
        <%= button_to 'View Details', puppy_path(puppy), :class=>'rounded_button', :method=>:get %>
      </div>
    </div>
  </div>
<% end %>
<br clear="all" />
<p><%= will_paginate @puppies %></p>
