<h1>Listing adoptions</h1>

<table>
  <tr>
    <th>Puppy</th>
    <th>Cart</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adoptions.each do |adoption| %>
  <tr>
    <td><%= adoption.puppy_id %></td>
    <td><%= adoption.cart_id %></td>
    <td><%= link_to 'Show', adoption %></td>
    <td><%= link_to 'Edit', edit_adoption_path(adoption) %></td>
    <td><%= link_to 'Destroy', adoption, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adoption', new_adoption_path %>
