<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :has_children, "Do you have children?" %>
    <%= f.check_box :has_children %>
  </div>
  <div class="field">
    <%= f.label :has_other_pets, "Do you have other pets?" %>
    <%= f.check_box :has_other_pets %>
  </div>
  <div class="field">
    <%= f.label :other_pets_description, "Please describe" %>
    <%= f.text_field :other_pets_description %>
  </div>
  <div class="field">
    <%= f.label :pay_type %>
    <%= f.select :pay_type, Order::PAYMENT_TYPES,
        :prompt => 'Select a payment method' %>
  </div>
  <div class="actions">
    <%= f.submit 'Place Adoption' %>
  </div>
<% end %>
