<% if notice -%>
  <p id='notice'><%= notice %></p>
<% end %>

<h1>Adoptions List</h1>

<% @orders.each do |order| %>
  <% if order.adoptions.first.delivered_on.nil? -%>
    <% puppy = order.adoptions.first.puppy -%>
    <div class="puppy_list">
      <div class='<%= cycle('list_line_odd', 'list_line_even') %>'>
        <div class="image"><%= image_tag(puppy.image_url, :class => 'list_image') %></div>
        <div class="name">Adoptee: <%= order.name %></div>
        <div class="name">Puppy: <%= puppy.name %></div>
        <%= button_to "Process Puppy", order, :method => :delete, :class => 'rounded_button' %>
      </div>
    </div>
  <% end %>
<% end %>

<br />

<p><%= will_paginate @orders %></p>
