<div class="cart_title">Your Litter</div>
<table>
  <%= render(@cart.adoptions) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Complete the Adoption', new_order_path, :method => :get %>
<%= button_to 'Adopt Another Puppy', agency_path %>
<%= button_to 'Change your mind', @cart, :method => :delete, :confirm => 'Are you sure?' %>
